
.letterbox_text{
    -fx-fill: White;
    -fx-font-size: 20;
    -fx-font: 16pt "Clear Sans";
    -fx-alignment: "Center";
}



.buttonClass
{
    -fx-text-fill: #ffffff;
    -fx-font: 5pt "Clear Sans";
    -fx-color: #454545;
    -fx-padding: 10;
}

.YellowStatus
{
    -fx-text-fill: #ffffff;
    -fx-font: 16pt "Clear Sans";
    -fx-color: #98d8cd;
    -fx-padding: 10;
}

.GreenStatus
{
    -fx-text-fill: #ffffff;
    -fx-font: 16pt "Clear Sans";
    -fx-color: #ea5b1e;
    -fx-padding: 10;
}


.BlackStatus
{
    -fx-text-fill: White;
    -fx-font: 16pt "Clear Sans";
    -fx-color: #2b2b2b;
    -fx-padding: 10;
}

.enterButton
{

}

.backButton
{
}

.toggle-switch {


}

.toggle-switch:selected {
    -fx-background-color: #e15116; /* Background when selected (e.g., green) */
    -fx-text-fill: white;
}

.toggle-switch:hover {
    -fx-cursor: hand; /* Indicate interactivity */
}